
.container-fluid{
  overflow: hidden;
}

#header{
  height: 150px;
}

.title_logo{
  float: left;
  line-height: 150px;
}

.title{
  font-size: 35px;
  line-height: 150px;
}

#slide_cont{
  height: 750px;
  width: 1920px;
}

.slide_img{
  height: 750px;
  overflow: hidden;
}

.cont{
  background-color: pink;
}

.footer{
  height: 68px;
  font-size: 24px;
  line-height: 68px;
}

