#index_header{
  height: 150px;
}

.index_title_logo{
  float: left;
  line-height: 150px;
}

.index_title{
  font-size: 35px;
  line-height: 150px;
  pointer-events: none;
}

#slide_cont{
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.carousel-item{
  width: 100%;
  height: 100%;
}

.slide_img-1{
  width: 100%;
  height: 100%;
  background-color: pink;
}
.slide_img-2{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
.slide_img-3{
  width: 100%;
  height: 100%;
  background-color: #b3171d;
}

/*img{*/
/*  width: 100%;*/
/*  height: auto;*/
/*  display: block;*/
/*}*/

.cont{
  background-color: pink;
}

#nav{
  height: 68px;
  width: 100%;
  font-size: 24px;
  line-height: 68px;
}

.contents_nav_box{
  position: relative;
  z-index: 90;
}

.contents_nav_box>.row{
  display: none;
  position: absolute;
  bottom: 0px;
  background-color: white;
}

.contents_nav_box>.row>div{
  margin: 30px;
}

.contents_nav_box>.row>.col>a{
  color: black;
}


/*content_header.html*/

.content_wrapper_header{
  width: 100%;
  height: 80px;

}

#content_title_logo{
  margin-left: 30px;
}

.content_title{
  line-height: 80px;
}
.content_title>span{
  font-weight: 400;
  font-size: 24px;
}
/*content_list.html*/
.content-box>.col{
  margin: 6px;
  height: 238px;
  background-color: #040000;
}

.content-box{
  padding-bottom: 80px;
}

.content_info{
  position: relative;
  top: 200px;
  width: 100%;
  display: none;
}
.content_info>p{
  color: black;
}
/*detail.html*/
.content_header{
  height: 67px;
  margin: 0 auto;
}

.view_date{
  width: 161px;
}

.content_header>.row{
  height: 100%;
}

.category_text{
  font-size: 32px;
}

.item_text{
  font-size: 18px;
}

.profile_img{
  width: 41px;
  height: 41px;
  border-radius: 40px;
  background-color: black;
}

.text_area{
  resize:none;
  border:none;
  border-bottom: 1px solid black;
  overflow: hidden;
  outline: none;
  display: block;
  border-radius: 0;
  width: 100%;
  height: 20px;
  font-size: 17px;
}

.id_text{
  font-size: 13px;
}

.footer_nav{
  font-size: 24px;
}
/*with 100프로 하면 끝까지 참*/

/*login*/
.content_center{
  width: 500px;
  margin: 0 auto;
}

.title_text{
  margin-top:50%;
  margin-bottom: 20px;
  font-size: 24px;

}
.title_text2{
  margin-top:40%;
  margin-bottom: 20px;
  font-size: 24px;
}
.login-control{
  border:none;
  border-bottom: 1px solid black;
  outline: none;
  display: block;
  border-radius: 0;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Pretendard Thin;
  padding: 0;
}

.social_text{
  margin-right: 10px;
  border-bottom: 1px solid black;
}

.input_form_label{
  font-family: Pretendard Light;
}

.input_notice{
  font-size: 12px;
  color: red;
}

.form-check-input{
  margin-bottom: 10px;
}

.login>span{
  background-color: black;
  color: white;
}

.email_agree{
  font-family: Pretendard thin;
  font-size: 14px;
}

.signup_agree{
  font-family: Pretendard thin;
  font-size: 14px;
}

.signup_button>span{
  background-color: black;
  color: white;
  height: 20px;
}

.footer_wrapper{
  height: 80px;
}

.category_nav{
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
}

.content_left_wrapper>p{
  color: gray;
}

.tag{
  margin-right: 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: black;
  color: white;
  transition: 0.5s all;
}

.tag>a{
  color: white ;
}

.tag:hover{
  color: black;
  background-color: white;
}

.tag:hover a{
  color: black;
}

.index_title{
  border-radius: 0;
}

.form_header>span{
  font-size: 20px;
}

.input_title>.form-control{
  border: 1px solid black;
  outline: none;
  display: block;
  border-radius: 0;
  width: 80%;
  height: 30px;
  font-size: 12px;
  font-family: Pretendard Thin;
  padding: 0;
  color: black;
  font-size: 18px;

  margin-left: 52px;
}

.input_title>.form-select{
  border: 1px solid black;
  outline: none;
  display: block;
  border-radius: 0;
  width: 80%;
  height: 30px;
  font-size: 12px;
  font-family: Pretendard Thin;
  padding: 0;
  color: black;
  font-size: 18px;
}

